<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% if request.resolver_match.app_name %} {% with
    app_js="js/"|add:request.resolver_match.app_name|add:"/main.js" %}
    <script src="{% static app_js %}"></script>
    {% endwith %} {% endif %} {% block extra_js %}{% endblock %}
  </body>
</html>
