{% extends "base.html" %}{% block content %}
<div
  class="flex min-h-screen bg-gray-800 flex-col justify-center px-6 py-12 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white"
    >
      Sign up to your account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form action="{% url 'register_user' %}" method="POST" class="space-y-6">
      {% csrf_token %}
      <div>
        <label for="firstname" class="block text-sm/6 font-medium text-gray-100"
          >First Name</label
        >
        <div class="mt-2">
          <input
            id="firstname"
            type="text"
            name="firstname"
            required
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
        </div>
      </div>

      <div>
        <label for="lastname" class="block text-sm/6 font-medium text-gray-100"
          >Last Name</label
        >
        <div class="mt-2">
          <input
            id="lastname"
            type="text"
            name="lastname"
            required
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
        </div>
      </div>

      <div class="mt-4">
        <label
          for="phonenumber"
          class="block text-sm/6 font-medium text-gray-100"
          >Phone Number</label
        >
        <div class="mt-2">
          <input
            id="phonenumber"
            type="tel"
            name="phonenumber"
            pattern="[0-9]{10}"
            placeholder="1234567890"
            required
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
          {% if form.phonenumber.errors %}
          <p class="mt-2 text-sm text-red-400">
            {{ form.phonenumber.errors.0 }}
          </p>
          {% endif %}
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm/6 font-medium text-gray-100"
          >Email address</label
        >
        <div class="mt-2">
          <input
            id="email"
            type="email"
            name="email"
            required
            autocomplete="email"
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
          {% if form.email.errors %}
          <p class="mt-2 text-sm text-red-400">{{ form.email.errors.0 }}</p>
          {% endif %}
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm/6 font-medium text-gray-100"
            >Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="password"
            type="password"
            name="password"
            required
            autocomplete="current-password"
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm/6 font-medium text-gray-100"
            >Confirm Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="password"
            type="password"
            name="password"
            required
            autocomplete="current-password"
            class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
          />
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
